// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// We-Wheel-Bikes Theme:
$black: #000;
$d-blue: #264653;
$f-green: #2A9D8F;
$d-grey: #BBB;
$l-grey: #DDD;
$f-red: #E76F51;
$f-orange: #F4A261;
$f-yellow: #E9C46A;
$white: #FFF;
