.mapboxgl-popup {
  max-width: 400px;
  border-radius: 10px;
}

.mapboxgl-popup-content {
  text-align: center;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  // font-family: 'Open Sans', sans-serif;
}
